.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    background:rgba(242, 2, 250, 0.144);;
    text-align: center;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 9px 9px -3px rgba(3, 3, 3, 0.856);
    width: 250px;
    min-height: 200px;
    margin: 15px;
    &-book {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        &__info {
            color: black;
            margin: 5px 0;
            padding: 0;
            &:nth-child(1) {
                font-size: 25px;
            }
            &:nth-child(2) {
                font-size: 15px;
                color: rgba(17, 17, 17, 0.555);
            }
        }
    }
    &-interaction {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        width: 100%;
        &__icon {
            background: transparent;
            border: none;
            font-size: 30px;
            color: black;
            cursor: pointer;
            outline: 0;
            &:hover {
                color: white;                
            }
        }
    }
}
.selected {     
    color:yellow;    
}