.header {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    color: rgba(0, 0, 0, 0.685);
    margin: 0 0 20px 0;
    &__title {
        font-family: 'Fredoka One', cursive;
        font-size: 120px;
        font-weight: 900;
        margin: 30px 0;
        text-shadow: 5px 5px 5px white;
    }
}