.options {
    background: rgba(242, 2, 250, 0.144);
    text-align: center;
    padding: 15px 25px;
    margin: 0 10px;
    border-radius: 8px;
    font-size: 20px;
    color: black;
    min-width: 90px;
    text-decoration: none;
    font-weight: bolder;
    &:hover {
        background:rgba(2, 98, 153, 0.788);
        color: white;
    }
    &:focus {
        background: rgba(2, 98, 153, 0.788);
        color: white;
    }
}